@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chivo Mono', monospace;
}


.primary-color{
    color: #fff;
}


.primary-d-color{
    color: #00bfff;
}

.secondary-d-color{
    color: #f31111;
}

.sub-title{
    font-size: 60px;
    font-family: 'Fredoka One', cursive;
}

.center-text{
    text-align: center;
}

.bold-text {
    font-weight: 900;
}

body {
    background-color: #080808;
    color: #fff;
    
}

header{
   height: 100vh;
   width: 100%;

}


.container{
    padding: 10px 10%;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    position: relative;
}


nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    background-color: #00bfff;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}


nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    font-size: 30px;
    margin-top: 20%;
}

.header-text h1{
    font-size: 60px;
}

.row{
    display: flex;
    justify-content: space-around;
}


.discription{
    font-family: 'Changa', sans-serif;
}

.about-col-1{
    flex-basis: 30%;
}



.about-col-1 img{
    width: 100%;
    border-radius: 20px;
}

.about-col-2{
    flex-basis: 65%;
}

.about-tabs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 40px;
}

.tab-link{
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-link::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background-color: #f31111;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-link:hover::after{
    width: 100%;
}

.tab-link.active-link::after{
    width: 100%;
}

#skill-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.skill-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
    align-items: center;
}


.about-tabs-contents{
    display: none;
}


.about-tabs-contents.active-tab{
    display: block;
}

#education ul {
    list-style: none;
}

/* Projects */
#projects{
    padding: 50px 0;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}


.layer{
    height: 0;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    text-align: center;
    transition: height 0.6s;
}


.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #f31111;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


.project:hover img{
    transform: scale(1.1);
}

.project:hover .layer{
    height: 100%;
}


#contact{
    margin: 3rem 0;
}


.contact-col{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.contact-right button{
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #00bfff;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
}

.contact-right button:hover {
    cursor: pointer;
}

.social-icons{
    margin-top: 15px;
}


footer {
    border-top: #00bfff 1px solid;
    margin-left: 10%;
    margin-right: 10%;
}

.copyrights{
    padding: 40px 0;
}

#full{
    z-index: 500px;
    color: #f31111;
    font-size: 40px;
    font-weight: bold;
}

.swiper .swiper-button-prev {
    color: #f31111;
}


